#bg {
  background-image: url(./components/assets/portfolioBG.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0px;
}

.nav-tabs
{
  display: flex;
  justify-content: end;
  padding: 5px;
  background: repeating-linear-gradient( 45deg, purple, lime );
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#myName {
  position: relative;
  left: -600px;
  bottom: 20px;
  top: -20px;
}

#myPic {
  display: inline-block;
  max-width: 500px;
  max-height: 500px;
  margin-left: 200px;
}

#aboutMe {
  display: inline-block;
  position: relative;
  top: -500px;
  margin-left: 600px;
  max-width: 800px;
  margin-bottom: 200px;
  border: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: white;
  font-size: 20px;

}

h1 {
  font-size: 50px;
  
}

h2 {
  text-align: center;
  margin-top: 0px;
}

li {
  margin: 0 20px;
  margin-top: 20px;
  color: white;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 36px;
}

li a:visited {
  color: purple;
}

img {
  object-fit: contain;
  max-width: 500px;
  max-height: 500px;
  border: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  box-shadow: 10px;
}