* {
  box-sizing: border-box;
  padding: 2;
  margin: 2;
}

#bg {
  background-color: lightgrey;
  background-image: url(./components/assets/portfolioBG.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0px;
  height: 1080px;
  width: 1920px;
}

.nav-tabs
{
  display: flex;
  justify-content: end;
  padding: 5px;
  background: repeating-linear-gradient( 45deg, purple, lime );
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#myName {
  position: relative;
  left: -600px;
  bottom: 20px;
  top: -20px;
}

#myPic {
  display: inline-block;
  max-width: 500px;
  max-height: 500px;
  margin-left: 200px;
}

#aboutMe {
  display: inline-block;
  position: relative;
  top: -500px;
  left: 200px;
  margin-left: 600px;
  max-width: 800px;
  margin-bottom: 200px;
  border: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: lightgray;
  font-size: 20px;

}

h1 {
  font-size: 50px;
  
}

h2 {
  position: relative;
  top: -75px;
  margin-top: 0px;
  margin-left: 800px;
  margin-right: 800px;
  border: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: lightgray;
  text-align: center;
}

h3 {
  margin-left: 25px;
  font-size: 36px;
  margin-bottom: 0;
}

li {
  margin: 0 20px;
  margin-top: 20px;
  color: white;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 36px;
}

li a:visited {
  color: purple;
}

img {
  object-fit: contain;
  border: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  box-shadow: 10px;
}



.project {
  display: inline-block;
  flex: 1 0 50%;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  text-align: center;
  /* border-style: groove; */
  border-width: 10px;
  height: max-content;
  width: 800px;
  margin-left: 100px;
  margin-right: 50px;
  
}

#project {
  width: 600px;
  height: 300px;
  border-width: 0px;
  border-radius: 1000px;
  box-shadow: 20px 10px 10px black;

}

a img:hover {
  transform: scale(1.5);
}

#gitHub{
  position: relative;
  left: -80px;
  top: -100px;
  max-width: 100px;
  max-height: 100px;
  border: 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: end;
  padding: 5px;
  background: repeating-linear-gradient( 45deg, lime, purple );
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%
}

#githubFooter, #linkedInFooter{
  height: 50px;
  width: 50px;
  border-width: 0;

}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px;
  border-style: solid;
  border-color: black;
  margin-left: 700px;
  margin-right: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lightgray;
  background-blend-mode: soft-light;

}

#resume {
  display: flex;
  flex-direction: column;
  /* border-style: solid;
  border-width: 50px;
  background-color: lightgray; */
}

#skills li {
  font-size: 20px;
  color: black;
}

#resumeDl {
  font-size: 20px;
}